<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <title>Survey Form</title>
    <style>
        .form-group {
            width: 450px;
        }
    </style>
</head>

<body>
    <div class="form-group">
        <form id="1" method="POST" action="/process">
            {% csrf_token %} Name:
            <input type="text" name="Name" class="form-control"> Location:
            <select class="form-control" name="opt1">
                <option></option>
                <option>San Jose</option>
                <option>California</option>
                <option>"DC"</option>
            </select>
            Language:
            <select class="form-control" name="opt2">
                <option></option>
                <option>Java</option>
                <option>Python</option>
                <option>Go</option>
            </select>
            Comments:
            <textarea class="form-control" name="Comments"></textarea>
        </form>
        <button form="1" type="submit" class="btn btn-secondary">Submit</button><p></p>
        <form method="POST" action="/clear">
            <button type="submit" class="btn btn-secondary">Clear</button>
        </form>
    </div>
</body>

</html>