 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 {% load static %}
 <script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
 crossorigin="anonymous"></script>

<script type="text/javascript">
    'use strict';
    $(document).ready(function(){
        let productForm =$(".form-product-ajax")
        
        productForm.submit(function(e){
            e.preventDefault();
            //console.log("Form is not sending")
            let thisForm = $(this) // the form itself
            let actionURL= thisForm.attr('action')
            let actionEndPoint = thisForm.attr('data-endpoint')
            let httpMethod = thisForm.attr('method')
            let formData = thisForm.serialize()
            $.ajax({
                url:actionEndPoint,
                method:httpMethod,
                data:formData,
                success:function(data){
                    let submitSpan = thisForm.find(".submit-span")
                    if(data.added){
                        submitSpan.html("In cart<button type='submit' class='btn btn-info'>Remove</button>")
                    }else{
                        submitSpan.html("<button type='submit' class='btn btn-success'>Add to cart</button>")
                    }
                    let navbarCount = $(".navbar-cart-count")
                    navbarCount.text(data.cartItemCount) // updates cart icon
                    let currentPath = window.location.href
                    console.log(currentPath)
                    if(currentPath.indexOf("cart")!= 1){ // if carts is in current path
                        refreshCart()
                    }
                },error:function(errorData){
                    console.log("Error!")
                    console.log(errorData)
                }
                
            })
        })
        function refreshCart(){
            console.log('In current Cart')
            let cartTable = $(".cart-table")
            let cartBody = cartTable.find(".cart-body")
            cartBody.html("<h1>Changed<h1>")
            
            let refreshCartUrl = '/api/cart'
            let refreshCartMethod = "GET"
            let data = {}

            $.ajax({
                url: refreshCartUrl,
                method:refreshCartMethod,
                data:data,
                success:function(data){
                    console.log("Success")
                    console.log(data)
                    
                },
                error:function(errorData){
                    console.log("Error")
                    console.log(errorData)
                }
            })
        }
    })
</script>