<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog test</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        form{
            justify-content: space-around;
            height: 150px;
            width: 450px;
            display: flex;
            flex-direction: column;
        }
        textarea{
            height: 45px;
        }
        label{
            height: 35px;
        }
    </style>
</head>

<body>
    <h1>Testing blog</h1>
    <p>This is for the Django form</p>
    <form action="/blog/create" method="post">
        {% csrf_token %}
        <label for="name">Blog Name:</label>
        <input type="text" id="name" name="name" placeholder="blog name">
        <label for="desc">Description:</label>
        <textarea id="desc" name="desc" placeholder="description"></textarea>
        <button type="submit">Submit</button>
    </form>

</body>

</html>