<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <form action="/addinfo" method="POST">
        <h2>Email Validation</h2>
        {% with messages = get_flashed_messages() %} 
         {% if messages %} 
          {% for message in messages %}
            <p class="">{{message}}</p>
          {% endfor %} 
         {% endif %} 
        {% endwith %} 
        Add Info(username):
        <input type="text" value="{{name}}" name="usname" placeholder="anyname" /> Email:
        <input type="text" value="{{mail}}" name="mail" placeholder="" />
        <input type="submit" value="Submit" />
        <form method="POST" action="/clear">
            Wanna restart? --><button type="submit" class="btn btn-secondary">Restart</button>
        <!-- Wanna deleteit? 
         <button type="submit" class="btn btn-primary" name="button">Add Friend</button> -->
    </form>
</body>

</html>