<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container" role="main">

        <div class="center-block text-center">
            <h1>How many Mate?</h1>
            <p>{{count}}</p>
            <form method="POST" action="/show">
                <button type="submit" class="btn btn-secondary" name="2more">2 More</button>
            </form><br>
            <form method="POST" action="/one">
                <button type="submit" class="btn btn-secondary" name="2more">one</button>
            </form><br>
            <form method="POST" action="/clear">
                <button type="submit" class="btn btn-secondary" name="reset">reset</button>
            </form>

        </div>

    </div>
</body>

</html>