<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script type="text/javascript"src="{{ url_for('static', filename='js/script.js')}}"></script>
</head>

<body>
    <div id="wrapper">
        <div class="main">
            <h1>Lorem ipsum dolor</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nostrum. Ab ratione omnis possimus, assumenda
                eveniet facere nulla pariatur, nemo odit illo reprehenderit? Quos tenetur iste porro? Laboriosam, vitae quod!</p>
            {% for i in range(0,x): %}
            <img src="/static/img/{{i}}.jpg" /> {% endfor %}
            <p>The end!</p>
        </div>
    </div>

</body>

</html>