<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        p {
            color: darkslategrey
        }
    </style>
</head>

<body>
    <div>
        <h1>Michael Jordan</h1>
        <h2>Phrase {{phrase }}</h2>
        <h2>Phrase {{times }}</h2>
        <img src="Meme Jordan.jpg" alt="The memes">
        <p>{% for x in range(0,times): %}
            <p>{{ phrase }}</p>
            {% endfor %}
            <!-- here is an example of embedding an if statement in our code -->
            {% if phrase == "suhh" %}
            <p>The phrase says hello</p>
            {% endif %}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur imperdiet nisi, finibus semper lacus gravida
            at. Quisque vel nunc ut lacus lacinia placerat sed et justo. Vestibulum finibus varius tortor vel venenatis.
            Quisque molestie facilisis risus vitae imperdiet. Donec dapibus, lorem nec egestas bibendum, metus tortor aliquam
            mi, eget hendrerit neque nulla id risus. Integer rhoncus ligula nunc. Donec et rhoncus sem. Maecenas laoreet
            egestas fermentum. Etiam nisi justo, ultricies a diam vitae, rhoncus semper diam. Duis egestas arcu ut metus
            sollicitudin mattis. Morbi ac lacus convallis, sollicitudin augue non, molestie augue. Quisque sed sodales velit,
            at convallis quam. Praesent vel aliquet lectus, quis euismod urna. Suspendisse porta posuere condimentum. In
            id sem at nisl dignissim posuere. Suspendisse potenti. Aenean ac quam id dui auctor faucibus. Nunc aliquet orci
            rhoncus mi lobortis, a porta lectus vehicula. Nam nunc eros, condimentum non ante ut, imperdiet dictum justo.
            Sed placerat gravida erat, quis tempus ante pellentesque sed. Vivamus posuere est sed nunc semper, in volutpat
            orci scelerisque. Proin ut eleifend quam. Aliquam tincidunt tellus imperdiet,placerat sapien ac, aliquam magna.
            Donec facilisis nisi justo, a aliquet sapien vehicula eget.</p>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>PPG</th>
                    <th>MVP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1990-91</td>
                    <td>31.5</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>1991-92</td>
                    <td>30.1</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>1992-93</td>
                    <td>32.6</td>
                    <td>no</td>
                </tr>
                <tr>
                    <td>1995-96</td>
                    <td>30.4</td>
                    <td>Yes</td>
                </tr>
                </tr>
                <tr>
                    <td>1996-97</td>
                    <td>29.6</td>
                    <td>No</td>
                </tr>
                </tr>
                <tr>
                    <td>1997-98</td>
                    <td>28.7</td>
                    <td>Yes</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <ul>
            <li> 1984 - 1993 Chicago Bulls</li>
            <li> 1995 - 1998 Chicago Bulls</li>
            <li> 2001 - 2003 Washington Wizards</li>
        </ul>

        <a href="https://en.wikipedia.org/wiki/Michael_Jordan#Professional_career">Click Here For More Details</a>
        <h3>please take this short survey</h3>
        <form>E-mail:
            <input type="email" name="email">
        </form>
        <input type="radio" id="radioButton">
        <label for="email">Yes, please send me lots of emails</label>
        <input type="radio" id="radioButton">
        <p>How did you hear about this?</p>
        <input id="checkBox" type="checkbox">
        <label for="Facebook">Facebook</label>
        <br>
        <input id="checkBox" type="checkbox">
        <label for="Twitter">Twitter</label>
        <br>
        <input id="checkBox" type="checkbox">
        <label for="Instagram">Instagram</label>
    </div>
</body>

</html>