<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <body>
        <h1>UHHH SUHHH {{name}}</h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ut laudantium assumenda mollitia omnis deserunt dolores dolorem perferendis, deleniti sit? Magnam magni reprehenderit cum nulla ipsam voluptatum quasi aperiam error!</p>
        <p>Yo lugar {{name}} is in {{loc}} bruhhh</p>

        <h4>BTW, Who posts this?</h4>
        <p>{{comment}}</p>
    </body>

</html>