<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            height: 950px;
            width: 950px;
        }

        .box1 {
            background-color: green;
            height: 50px;
            width: 50px;
        }

        .box2 {
            background-color: red;
            height: 50px;
            width: 50px;
        }
        .row{
            display: flex;
        }
    </style>
</head>

<body>
    {% for x in range(0,times): %}
    <div class="row">
      {% for y in range(0,b): %}
        {% if y%2-x%2==0: %}
        <div class="box1"></div>
        {% else: %}
        <div class="box2"></div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</body>

</html>